---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/layout.astro";
import Container from "@components/container.astro";
import SectionHead from "@components/section-head.astro";

const publishedMusicEntries = await getCollection("music", ({ data }) => {
  return !data.draft;
});

publishedMusicEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

const pageTitle = 'Music';
---

<Layout pageTitle={pageTitle}>
  <Container>
    <SectionHead>
      <Fragment slot="title">
        <span class="title">
          Music Section
        </span>
      </Fragment>
      <Fragment slot="desc">
        We write about building startups and thoughts going on our mind.
      </Fragment>
    </SectionHead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          publishedMusicEntries.map((musicPostEntry, index) => (
            <li>
              <a href={`/videot4pe/music/${musicPostEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {musicPostEntry.data.category}
                    </span>
                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {musicPostEntry.data.title}
                    </h2>
                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400">
                        {musicPostEntry.data.author}
                      </span>
                      <span class="text-gray-400">• </span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>